body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.row {
  max-width: 100%;
  margin: 0px;
}

.ioeman-svg-white {
  .text {
    color: white;
  }
}

.ioeman-bg-orange {
  background-color: var(--color-orange);
  color: white;
}
