.ioeman-sidemenu {
  border-right: 1px solid var(--color-light-gray);
  height: calc(100vh - 65px); // 65px = Navbar height
  overflow-y: auto;

  h5,
  h6 {
    margin: 0px;
  }

  h5 {
    font-size: 18px;
  }

  .semester-container {
    .item {
      cursor: pointer;
      border-radius: 8px;
      padding: 10px 15px;

      &:hover {
        background-color: var(--color-hover);
      }
    }

    .item-active {
      color: var(--color-orange);
      background-color: var(--color-hover);
    }

    .item-active-no-bg {
      color: var(--color-orange);
    }
  }

  @media screen and(max-width: 998px) {
    border: none;
    height: 100%;
  }
}
